/****** BASE STYLES ******/
body{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #095156;
}



/****** GRID ******/

.full-width{
	width: 1400px;
	margin: 0 auto;
}

.half-width{
	width: 700px;
	float: left;
}

.third-width{
	width: 466px;
	float: left;
}



/****** HEADER ******/

header {
    background: url('../img/hero-image.png');
    background-size: cover;
    width: 1400px;
}

header h1{
  margin: 0;
	font-family: 'Roboto Slab', serif;
	font-size: 60px;
  font-weight: bold;
	color: #bdbf09;
  padding-top: 300px;
  text-align: center;
}

header p{
  margin: 0;
  font-size: 48px;
  padding: 50px 300px 100px 300px;
  text-align: center;
}



/****** PORTFOLIO SECTION ******/

#portfolio .full-width{
  height: 1450px;
}

#portfolio .half-width{
  height: 350px;
  padding-top: 55px;
}

#portfolio h2{
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: bold;
  padding: 50px 0 60px 0;
  text-align: center;
  text-transform: capitalize;
}

#portfolio h3{
  margin: 0;
  font-weight: bold;
  padding-bottom: 15px;
  padding-right: 100px;
  text-transform: capitalize;
}

#portfolio p{
  margin: 0;
  padding-bottom: 30px;
  padding-right: 100px;
}

#portfolio img{
  margin: 0;
  padding-left: 100px;
}



/****** ABOUT SECTION ******/

#about .full-width{
  height: 900px;
  background-color: #087e8b;
}

#about h2{
  margin: 0;
  padding-top: 50px;
  padding-bottom: 125px;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
}

#about h3{
  margin: 0;
  padding-right: 100px;
  padding-bottom: 30px;
  font-weight: bold;
  color: #ffffff;
}

#about p{
  margin: 0;
  padding-right: 100px;
  color: #ffffff;
}

#about img{
  margin: 0;
  padding-left: 100px;
}

#about ul{
  color: white;
}



/****** CONTACT SECTION ******/

#contact .full-width{
	height: 450px;
  background-color: #095156;
}

#contact h2{
  margin: 0;
  padding-top: 50px;
  padding-bottom: 120px;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: capitalize;
}

#contact h3{
  margin: 0;
  padding-bottom: 35px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#contact p{
  margin: 0;
  color: white;
  text-align: center;
}

#contact p.foot{
  color: white;
  padding-top: 200px;
  font-size: 15px;
}

#contact a.first{
  color: white;
  padding-left: 108px;
}

#contact a{
  color: white;
  text-align: center;
  text-decoration: none;
}

#contact a img{
  border-radius: 27px;
  padding-left: 125px;
}
